<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
  {% include 'style.html' %}
  <div id="container">
    <div id="nav"> <!--Левая колонка-->
      <p></p>
      {% include 'current_date_time_block.html' %}
    </div>
    <div id="aside"> <!--Правая колонка-->
    </div>
    <div id="content" > <!--Центральная колонка-->
      <h1>My To Do List</h1>
      <form action="/addToDoItem/" method = "post">{% csrf_token %}
        <input type="text" name="content">
        <input type="submit" value="Add Todo Item">
      </form>
      <ul>
          {% for i in all_items %} 
          <li>
            {{i.content}}
            <form action="/deleteToDoItem/{{i.id}}/" method = "post">{% csrf_token %}
              <input type="submit" value="Delete">
              <p></p>
            </form>
          </li>
          {% endfor %}
      </ul>
    </div>
  </div>
</body>
</html>
